---
title: Home
orbit: main-orbit
---

.temp-feature
  .row
    .six.columns.centered
      %img{:src => "/assets/logo.svg", :title => "The Vintage Invite Company"}
  .row
    .twelve.columns.temppad
      %h2.text-center Something Vintage This Way Comes...
      %h3.text-center.subheader We're building something beautiful!
.row
  .eight.columns.centered
    %p.bold-links
      We're building our range as you read this, but we're accepting bespoke orders and writing all about both on
      = "#{link_to('our blog', 'http://thevintageinviteco.tumblr.com')},"
      so take a look!
    %p.bold-links
      You can also like us on
      = "#{link_to('facebook', 'http://facebook.com/thevintageinviteco')},"
      follow us on
      = "#{link_to('twitter', 'http://twitter.com/thevintageinviteco')},"
      or just drop us a good old fashioned email at
      = "#{link_to('hello@thevintageinvite.com', 'mailto:hello@thevintageinvite.com')}!"
    %p
      Join our mailing list to hear first when we release new designs, blog posts and offers!
      %form.validate{:action=>"http://thevintageinvite.us7.list-manage1.com/subscribe/post?u=14f010ba1169be1d21a9a1656&amp;id=c50b20307c", :method=>"post", :id=>"mc-embedded-subscribe-form", :name=>"mc-embedded-subscribe-form", :target=>"_blank"}
        .row.collapse
          .ten.mobile-three.columns
            %input.email{:type=>"email", :value=>"", :name=>"EMAIL", :id=>"mce-EMAIL", :placeholder=>"Email Address"}
          .two.mobile-one.columns
            %input.button.expand.postfix{:type=>"submit", :value=>"Subscribe", :name=>"subscribe", :id=>"mc-embedded-subscribe"}

