---
title: Home
orbit: main-orbit
---

.temp-feature
  .row
    .six.columns.centered
      %img{:src => "/assets/logo.svg", :title => "The Vintage Invite Company"}
  .row
    .twelve.columns.temppad
      %h1.coming-soon.text-center COMING SOON!
.row
  .ten.columns.centered
    %hr.wavy
    %p.blurb.text-center
      LAUNCHING IN AUTUMN, WE SPECIALISE IN DESIGNING &amp; CREATING UNIQUE, BESPOKE WEDDING INVITATIONS. EMPLOYING BOTH TRADITIONAL AND MODERN TECHNIQUES WHILE SOURCING THE FINEST MATERIALS, OUR FOCUS IS EXCEPTIONAL QUALITY &amp; CUSTOMER SERVICE.
.row
  .nine.columns.centered
    %hr.wavy
    %p.bold-links.fp-para.text-center
      You can like us on
      = "#{link_to('facebook', 'http://facebook.com/vintageinviteco')},"
      follow us on
      = "#{link_to('twitter', 'http://twitter.com/vintageinviteco')},"
      or just drop us a good old-fashioned email at
      = "#{link_to('hello@thevintageinvite.com', 'mailto:hello@thevintageinvite.com')}"
    %p.bold-links.fp-para.text-center
      Read
      = "#{link_to('our blog', 'http://thevintageinviteco.tumblr.com')}"
      and join our mailing list for a sneaky peek at our range as we build it, and for offers and the odd competition!
.row
  .nine.columns.centered
    .row
      .eight.columns
        %form.mailing-list.text-center.validate{:action=>"http://thevintageinvite.us7.list-manage1.com/subscribe/post?u=14f010ba1169be1d21a9a1656&amp;id=c50b20307c", :method=>"post", :id=>"mc-embedded-subscribe-form", :name=>"mc-embedded-subscribe-form", :target=>"_blank"}
          .row.collapse
            .nine.mobile-three.columns
              %input.email{:type=>"email", :value=>"", :name=>"EMAIL", :id=>"mce-EMAIL", :placeholder=>"Email Address"}
            .three.mobile-one.columns
              %input.button.success.expand.postfix{:type=>"submit", :value=>"Subscribe", :name=>"subscribe", :id=>"mc-embedded-subscribe"}
      .four.columns
        .text-center
          .sm-button
            %a{:href => 'mailto:hello@thevintageinvite.com', :title => 'Email Us'}
              %i.icon-envelope
          .sm-button
            %a{:href => 'http://facebook.com/vintageinviteco', :title => 'Facebook'}
              %i.icon-facebook
          .sm-button
            %a{:href => 'http://thevintageinviteco.tumblr.com', :title => 'Our Blog'}
              %i.icon-tumblr
          .sm-button
            %a{:href => 'http://twitter.com/vintageinviteco', :title => 'Twitter'}
              %i.icon-twitter
