:ruby
  def nav_li(s)
    if item.identifier == "/#{s}/"
      haml_tag('li', s.capitalize, :class => 'active')
    else
      haml_tag('li') do
        haml_tag('a', s.capitalize, :href => "/#{s}/")
      end
    end
  end

!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width" }

    %title
      The Vintage Invite Company -
      = item[:title]
    %link{:rel => "stylesheet", :href => "/assets/app.css" }
    %script{:src => "/assets/modernizr.foundation.js" }
  %body
    .row
      .vic-topbar
        .four.columns
          %a{:href => "/"}
            %img{:src => "/assets/logo.svg", :title => "The Vintage Invite Company"}
        .eight.columns
          %ul.right
            - nav_li('blog')
            - nav_li('about')
            - nav_li('contact')
    .row
      .twelve.columns
        = yield

    %script{:src => "/assets/app.js" }
    - if item[:orbit]
      :javascript
        $(window).load(function() {
          $("##{item[:orbit]}").orbit({ animation: 'fade', timer: false, bullets: true});
        });
