:ruby
  def nav_li(s, title=nil, href=nil)
    href ||= "/#{s}/"
    if item.identifier == "/#{s}/"
      haml_tag('li', title || s.capitalize, :class => 'active')
    else
      haml_tag('li') do
        haml_tag('a', title || s.capitalize, :href => href)
      end
    end
  end

!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7 ] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8 ] <html class="no-js lt-ie9" lang="en">
/[if (gt IE 8)|!(IE)]><! --> <html class="no-js" lang="en"> <!--
%head
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width" }

  %title
    The Vintage Invite Company -
    = item[:title]
  %link{:rel => "stylesheet", :href => "/assets/app.css" }
  %script{:src => "/assets/modernizr.foundation.js" }
%body
  .row
    .vic-topbar
      .four.columns
        %a{:href => "/"}
          %img{:src => "/assets/logo.svg", :title => "The Vintage Invite Company"}
      .eight.columns
        %ul.right
          - nav_li('blog')
          /- nav_li('bespoke', 'Go Bespoke')
          /- nav_li('about', 'About Us')
          - nav_li('contact', nil, "/#contact")
  = yield

  %script{:src => "/assets/app.js" }
  - if item[:orbit]
    :javascript
      $(window).load(function() {
        $("##{item[:orbit]}").orbit({ animation: 'fade', timer: false, bullets: true});
      });
%footer
  .twelve.columns.text-center
    .sm-button
      %a{:href => 'mailto:hello@thevintageinvite.com', :title => 'Email Us'}
        %i.icon-envelope
    .sm-button
      %a{:href => 'http://facebook.com/thevintageinviteco', :title => 'Facebook'}
        %i.icon-facebook
    .sm-button
      %a{:href => 'http://twitter.com/thevintageinviteco', :title => 'Twitter'}
        %i.icon-twitter
:plain
  </html>
