= render 'default' do
  .product
    .row
      .six.columns
        .product-large
          %img.zoomy#main-image{:src => "/assets/products/#{item[:image_root]}-invite-medium.jpg", :data => {:zoom_image => "/assets/products/#{item[:image_root]}-invite-large.jpg"}}
      .six.columns
        .product-title
          %h6= item[:product_title]
          .sub.italic= item[:product_blurb]
        = yield
        .panel 
          %h6
            Ready to order?
            %a{href: "mailto:hello@thevintageinvite.com?subject=Wedding Stationery - #{item[:product_title]}"} Send us an enquiry
            or see <a href='/order'>how to order</a>.
  .productrange
    .row
      .three.columns.mobile-two
        %a{:href => '#', :data => {:set_image => 'main-image', :set_image_src => "/assets/products/#{item[:image_root]}-std-medium.jpg"}}
          %img{:src => "/assets/products/#{item[:image_root]}-std-220.jpg"}
        %h6.text-center SAVE THE DATE
      .three.columns.mobile-two
        %a{:href => '#', :data => {:set_image => 'main-image', :set_image_src => "/assets/products/#{item[:image_root]}-invite-medium.jpg"}}
          %img{:src => "/assets/products/#{item[:image_root]}-invite-220.jpg"}
        %h6.text-center MAIN INVITATION
      .three.columns.mobile-two
        %a{:href => '#', :data => {:set_image => 'main-image', :set_image_src => "/assets/products/#{item[:image_root]}-rsvp-medium.jpg"}}
          %img{:src => "/assets/products/#{item[:image_root]}-rsvp-220.jpg"}
        %h6.text-center RSVP
      .three.columns.mobile-two
        %a{:href => '#', :data => {:set_image => 'main-image', :set_image_src => "/assets/products/#{item[:image_root]}-place-medium.jpg"}}
          %img{:src => "/assets/products/#{item[:image_root]}-place-220.jpg"}
        %h6.text-center PLACE SETTINGS
  .row
    .twelve.columns
      .pinking-darkgrey &nbsp;
      .darkgrey-header
        %h6 HOW TO ORDER
      .greyblock
        .row
          .three.columns.mobile-two
            %h6 STEP 1
            %p Instead of ass say buns, like kiss my buns or you're a bunshole
          .three.columns.mobile-two
            %h6 STEP 2
            %p Instead of shit say poo, like bullpoo poopoo or this poo is cold
          .three.columns.mobile-two
            %h6 STEP 3
            %p With bitch drop the T because bich is latin for generosity
          .three.columns.mobile-two
            %h6 STEP 4
            %p Don't say fuck anymore because fuck is the worst word that you can say